<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="refresh" content="5" />
    <title>dabdabdab dashboard</title>
    <style>
      .status_up {
        color: green;
        font-weight: bold;
      }
      .status_down {
        color: red;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    {% for worker in workers %}
    <div>
      <h2>{{ worker.id }}</h2>

      {% if worker.is_up %}
      <p>Status: <span class="status_up">UP</span></p>
      {% else %}
      <p>Status: <span class="status_down">DOWN</span></p>
      {% endif %}

      <ul>
        {% for result in worker.results %}
        <li>{{ result.text }} ({{ result.time }})</li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </body>
</html>
